<!doctype html>

<html>
  <head>
    <meta charset="utf-8">

    <title>Dvr App</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/images/ga-favicon.ico" rel="icon">
    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>
    <header>
      <% if session[:current_user] %>
        <span><%= link_to("Welcome, #{@viewer.name}",'/') %></span>
        <span><%= link_to('(Edit your profile here)',"/viewers/#{@viewer.id}/edit") %></span>
        <span><form method="POST" action="/session">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="Logout" />
        </form></span>
      <% else %>
        <span><a href="/">Go home</a></span>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
