<header>
  <p><a href="/">Go home</a></p>
  <p>Welcome, <%= @viewer.name %></p>
  <p><form method="POST" action="/session">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Logout" />
  </form></p>
</header>

<div>
  <p><button>See TV Listings</button></p>
  <p><button>See Scheduled Recordings</button></p>
  <p><button>Watch Recorded Shows</button></p>
</div>

<% if flash[:welcome] %>
  <p style="color:green;"><%= flash[:welcome] %></p>
<% end %>